<div class="container-fluid mt-5 pt-5 match-page">
    <div class="row d-flex justify-content-center">
      <div class="col-11 col-md-10 match-info">
        <div class="pt-3 row field-photos d-flex justify-content-between">
          <div class="col-12 field-title">
          
            {{!-- MATCH TITLE --}}
            <h1>{{match.title}}</h1>
          </div>
          <div class="col-12 col-md-6 view overlay field-img px-1 py-2 order-1">
            {{!-- FIELD IMAGE --}}
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNm_7htW7pbnjD2ATaxVyVjJ0BtOzqW1pJiVSuu4PUvdlDP15j"
              class="img-fluid" alt="Sample image with waves effect.">
            <a>
              <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
          </div>
          <div id="map" class="col-md-6 d-none d-sm-block order-2">
            {{!-- MAP IMAGE --}}
            {{!-- <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkYFuf99VqE0xRDN1ncPJ1Asx9Tsd1owxkcASKHE1d9fVoba2a"
              class="img-fluid" alt="Sample image with waves effect."> --}}
            <a>
              <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
          </div>
          <div class="pb-5 mb-2 mt-2 col-12 col-md-6 order-4 order-md-3 pt-3 players-div">
            {{!-- PLAYERS LIST --}}
            <h3>Players</h3>
            <p><i class="fas fa-user"></i>&nbsp;&nbsp; {{match.owner.username}}</p>  <br>
            {{#each match.participants}}
              <i class="far fa-user"></i>&nbsp;&nbsp; <p> {{this.username}}</p> <br>
            {{/each}}

          </div>
          <div class="mt-2 col-12 col-md-6 pt-3 pb-4 order-3 order-md-4 infos-div">
            <div>
              <span class="d-flex">
                <i class="material-icons">location_on</i>&nbsp;&nbsp;&nbsp;
                {{!-- ADDRESS --}}
                  <p>
                  Rua Frei Caneca, 168
                  </p>  

              </span>
            </div>
            <div class="pt-2 mb-3">
              <span
               class="d-flex">
                <i class="material-icons">access_time</i>&nbsp;&nbsp;&nbsp;&nbsp;
                {{!-- GAME TIME --}}
               <p>
                18h00
               </p>
              </span>
            </div>
            {{#if isOwner}}
              <button type="button" onclick='deleteMatch("{{match._id}}")' class="mt-2 mb-3 btn btn-red">Delete Match</button>
            {{else}}
              <button type="button" onclick='addPlayerToMatch("{{match._id}}")' class="mt-2 mb-3 btn btn-dark-green">Join Match</button>
            {{/if}}
            <p class="pt-2">{{match.description}}</p>
          </div>
          
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM67FmXYTA2to7SnkdpMwTQJ399FXrgeo"></script>
    <script src="/javascripts/match.js"></script>
  </div>
  <input display="none" type="hidden" id="location">{{match.location}}</input>
